<!-- views/ontology-detail.handlebars -->
<ul class="breadcrumbs">
  <li><a href="/?showLabels={{showLabels}}">Hem</a></li>
  <li>{{ontology.title}}</li>
</ul>

<h1>{{ontology.title}}</h1>

<div class="display-mode">
  <label for="displayToggle">Visa mänskligt läsbara etiketter:</label>
  <label class="switch">
    <input type="checkbox" id="displayToggle" {{#if showLabels}}checked{{/if}}>
    <span class="slider"></span>
  </label>
  <span class="display-mode-text">{{#if showLabels}}På{{else}}Av{{/if}}</span>
</div>

<div class="resource-container">
  <div class="resource-main">
    {{#if ontology.description}}
      <div class="resource-description">
        {{ontology.description}}
      </div>
    {{/if}}
    
    <div class="property-group">
      <div class="property-group-header">Metadata</div>
      <div class="property-group-content">
        <table class="property-table">
          {{#if ontology.creator}}
            <tr>
              <td class="property-name">Skapare</td>
              <td>{{ontology.creator}}</td>
            </tr>
          {{/if}}
          
          {{#if ontology.publisher}}
            <tr>
              <td class="property-name">Utgivare</td>
              <td>{{ontology.publisher}}</td>
            </tr>
          {{/if}}
          
          {{#if ontology.created}}
            <tr>
              <td class="property-name">Skapad</td>
              <td>{{ontology.created}}</td>
            </tr>
          {{/if}}
          
          {{#if ontology.modified}}
            <tr>
              <td class="property-name">Senast ändrad</td>
              <td>{{ontology.modified}}</td>
            </tr>
          {{/if}}
          
          {{#if ontology.version}}
            <tr>
              <td class="property-name">Version</td>
              <td>{{ontology.version}}</td>
            </tr>
          {{/if}}
        </table>
      </div>
    </div>
    
    <div class="property-group">
      <div class="property-group-header">Statistik</div>
      <div class="property-group-content">
        <table class="property-table">
          <tr>
            <td class="property-name">Klasser</td>
            <td>{{ontology.stats.classes}}</td>
          </tr>
          <tr>
            <td class="property-name">Egenskaper</td>
            <td>{{ontology.stats.properties}}</td>
          </tr>
          <tr>
            <td class="property-name">Individer</td>
            <td>{{ontology.stats.individuals}}</td>
          </tr>
        </table>
      </div>
    </div>
    
    <!-- Add debugging tool to explore classes -->
    <div class="property-group">
      <div class="property-group-header">Utforska ontologin</div>
      <div class="property-group-content">
        <p>Använd dessa länkar för att utforska innehållet i ontologin:</p>
        
        <ul style="list-style: none; padding-left: 0; margin-top: 15px;">
          <li style="margin-bottom: 10px;">
            <a href="/query?query={{encodeURIComponent (concat 'SELECT DISTINCT ?class ?label WHERE { { ?class a <http://www.w3.org/2002/07/owl#Class> . FILTER(STRSTARTS(STR(?class), STR(<' ontology.uri '>))) } UNION { ?class a <http://www.w3.org/2000/01/rdf-schema#Class> . FILTER(STRSTARTS(STR(?class), STR(<' ontology.uri '>))) } OPTIONAL { ?class <http://www.w3.org/2000/01/rdf-schema#label> ?label } } ORDER BY ?class LIMIT 100')}}&showLabels={{showLabels}}" class="btn" style="width: 100%;">
              Visa klasser
            </a>
          </li>
          <li style="margin-bottom: 10px;">
            <a href="/query?query={{encodeURIComponent (concat 'SELECT DISTINCT ?property ?label WHERE { { ?property a <http://www.w3.org/2002/07/owl#ObjectProperty> . FILTER(STRSTARTS(STR(?property), STR(<' ontology.uri '>))) } UNION { ?property a <http://www.w3.org/2002/07/owl#DatatypeProperty> . FILTER(STRSTARTS(STR(?property), STR(<' ontology.uri '>))) } UNION { ?property a <http://www.w3.org/1999/02/22-rdf-syntax-ns#Property> . FILTER(STRSTARTS(STR(?property), STR(<' ontology.uri '>))) } OPTIONAL { ?property <http://www.w3.org/2000/01/rdf-schema#label> ?label } } ORDER BY ?property LIMIT 100')}}&showLabels={{showLabels}}" class="btn" style="width: 100%;">
              Visa egenskaper
            </a>
          </li>
          <li style="margin-bottom: 10px;">
            <a href="/query?query={{encodeURIComponent (concat 'SELECT DISTINCT ?individual ?label WHERE { { ?individual a <http://www.w3.org/2002/07/owl#NamedIndividual> . FILTER(STRSTARTS(STR(?individual), STR(<' ontology.uri '>))) } UNION { ?individual a ?class . ?class <http://www.w3.org/2000/01/rdf-schema#isDefinedBy> <' ontology.uri '> . FILTER NOT EXISTS { ?individual a <http://www.w3.org/2002/07/owl#NamedIndividual> } } OPTIONAL { ?individual <http://www.w3.org/2000/01/rdf-schema#label> ?label } } ORDER BY ?individual LIMIT 100')}}&showLabels={{showLabels}}" class="btn" style="width: 100%;">
              Visa individer
            </a>
          </li>
          <li>
            <a href="/graphdb?query={{encodeURIComponent (concat 'SELECT * WHERE { ?s ?p ?o . FILTER(STRSTARTS(STR(?s), STR(<' ontology.uri '>))) } LIMIT 100')}}&showLabels={{showLabels}}" class="btn" style="width: 100%;">
              Visa alla triplar
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="resource-sidebar">
    <div class="sidebar-box">
      <div class="sidebar-box-header">Nedladdningslänkar</div>
      <div class="sidebar-box-content">
        <ul class="download-links" style="list-style: none; padding: 0;">
          {{#each downloadLinks}}
            <li style="margin-bottom: 10px;">
              <a href="{{this.url}}" 
                 class="btn" 
                 style="width: 100%; text-align: center;">
                Ladda ner som {{this.format}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    
    <div class="sidebar-box">
      <div class="sidebar-box-header">URI</div>
      <div class="sidebar-box-content">
        <div class="resource-uri">
          <code>{{ontology.uri}}</code>
        </div>
      </div>
    </div>
    
    <div class="sidebar-box">
      <div class="sidebar-box-header">Åtgärder</div>
      <div class="sidebar-box-content">
        <p>
          <a href="/?showLabels={{showLabels}}" class="btn" style="width: 100%; margin-bottom: 8px;">Tillbaka till startsidan</a>
        </p>
        <p>
          <a href="/query?showLabels={{showLabels}}" class="btn" style="width: 100%;">Kör anpassad SPARQL-fråga</a>
        </p>
      </div>
    </div>
  </div>
</div>